@{
    ViewData["Title"] = "Important Fr3d Holidays";
}

<h1>@ViewData["Title"]</h1>

<h2 id="newfr3dsday">New Fr3d's Day</h2>

<h2 id="fr3dmas">Fr3dmas</h2>

<h2 id="fr3dmas_day">International Fr3dmas Day</h2>


